@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    font-size		: 1.8em;
    width		: 75%;
    margin-left		: auto;
    margin-right	: auto;
    font-family		: 'Open Sans',Helvetica, sans-serif;
    line-height: 1.3em;
}

p {
    padding		: 0;
    margin		:  0;
    clear		: right;
    padding-left	: 2em;
    
}
